/*Navbar section*/

.logo {
    font-family: 'Pushster', cursive;
    font-size: 4rem;
    color: #4E9F3D;
    padding: 2.5%
}

nav .navbar-nav li a{
  color: #4E9F3D !important;
   font-size: 2rem;

   }

/*Toggler*/
navbar-toggler-icon {
    color: #4E9F3D !important;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(78,159,61)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  border-color: rgb(78,159,61);
}

.custom-toggler.navbar-toggler {
  border-color: rgb(78,159,61);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    border-color: rgb(78,159,61);
    color: rgb(78,159,61);
}

/*Footer*/
footer {
    background-color: #212529;
}

footer .text-muted{
    color: #4E9F3D !important;
}

/*Media*/
/*Container*/
